
<div class="flex justify-center items-center flex-col">
   
  <img 
    [src]="url"
    [alt]="alt"
    class="animate__animated animate__fadeIn rounded-tl-lg rounded-tr-lg"
    (load)="onLoad()"
    [ngStyle]="{ display: hasLoaded ? '' : 'none' }"
  />
  @if (hasLoaded) {
   
    <h2 class=" mt-10 font-bold animate-pulse">Esta foto no se puede editar.</h2>
    <h2 class="text-xs">Foto del producto</h2>
  } @else {
   <img
    *ngIf="!hasLoaded"
    src="assets/loaderHeart.svg"
    height="35"
    width="35"
    class="mt-3"
  />
  }

  

</div>
