<div class="hero min-h-screen bg-base-200 background-animate h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Ingresa ahora!</h1>
      <p class="py-6">
        Accede a tu cuenta para administrar y programar contenido en las pantallas publicitarias de nuestra plataforma. Mantén tus credenciales seguras y cierra sesión al terminar.
      </p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form 
        [formGroup]="myForm"
        (ngSubmit)="login()"
        autocomplete="off"
        class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" placeholder="email" class="input input-bordered" required formControlName="email" (input)="clearErrorMessage()"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" placeholder="password" class="input input-bordered" required formControlName="password" (input)="clearErrorMessage()"/>
          
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login
            <span class="loading loading-spinner" *ngIf="isLoading"></span>
          </button>
        </div>
       <div *ngIf="errorMessage" class="mt-3 text-red-500">
  {{ errorMessage }}
</div>
      </form>
    </div>
  </div>
  <label class="swap swap-flip text-9xl logo bottom-10 left-20">
    <input type="checkbox" />
  
    <div class="swap-on" title="toqueton jeje">😈</div>
    <div class="swap-off" title="Logueate por favor!">😇</div>
  </label>

</div>