<div class="flex justify-center">
  <div class="card bg-base-100 shadow-xl mt-4 w-1/2">
  
  <div class="card-body">
    <form [formGroup]="myForm" class="flex-grow">
      <h2 class="card-title mb-2"><span class="font-bold">{{ (!id) ? "Agregando ": "Editando "}} </span>Pantalla</h2>
      <label class="input input-bordered flex items-center gap-2 mb-2">
          Nombre
          <input type="text" class="grow" placeholder="Ingrese el nombre" formControlName="name"/>
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-2">
          Descripcion
          <input type="text" class="grow" placeholder="Ingrese una descripcion" formControlName="description"/>
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-2">
          Precio
          <input type="text" class="grow" placeholder="Ingrese el precio" formControlName="price_per_day"/>
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-2">
          Resolucion H
          <input type="text" class="grow" placeholder="Resolucion de alto" formControlName="resolution_height"/>
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-2">
          Resolucion W
          <input type="text" class="grow" placeholder="Resolucion de ancho" formControlName="resolution_width"/>
      </label>
      <label class="form-control w-3/4 ">
          <select class="select select-bordered" formControlName="type">
            <option value="" disabled selected>Seleccione un tipo de pantalla</option>
            <option value="indoor">Indoor</option>
            <option value="outdoor">Outdoor</option>
          </select>
      </label>
      <div class="card-actions justify-between mt-5">
        <button class="btn btn-accent" (click)="navigateToDisplays()">Cancelar</button>
        <button class="btn btn-primary" (click)="guardarDisplay()">Guardar</button>
      </div>
    </form>
  </div>
 
</div>
@if(id){
<div class="card bg-base-100 shadow-xl mt-4 w-1/6 ml-3 ">
    <app-lazy-image
    [url]="imageUrl!"
    [alt]="'No name'"
    ></app-lazy-image>
  
  </div>
}
  
</div>




    <!--   <div class="flex items-center justify-center">

  <div class="card w-96 bg-base-100 shadow-xl flex items-center justify-center mt-2">
    <div class="card-body flex"> -->