<div class="flex justify-center">
  <div class="card bg-base-100 shadow-xl mt-4 w-1/2">
  
  <div class="card-body">
    <form [formGroup]="myForm" class="flex-grow">
      <h2 class="card-title mb-2"><span class="font-bold">{{ (!id) ? "Agregando ": "Editando "}} </span>Pantalla</h2>
      <!-- Nombre -->
      <div class="input-group mb-3">
        <label class="input input-bordered flex items-center gap-2"
          [ngClass]="{'input-secondary ': myForm.get('name')?.touched && myForm.get('name')?.invalid}">
          <input type="text" formControlName="name" placeholder="Nombre" class="form-control"/>
        </label>
        <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.errors">
          <span class="text-red-300" *ngIf="myForm.get('name')?.hasError('required')">Este campo es requerido.</span>
          <span class="text-red-300" *ngIf="myForm.get('name')?.hasError('minlength')">Debe tener al menos 3 caracteres.</span>
          <span class="text-red-300" *ngIf="myForm.get('name')?.hasError('maxlength')">No puede exceder de 100 caracteres.</span>
        </div>
      </div>
      <!-- Descripción -->
      <div class="input-group mb-3">
        <label class="input input-bordered flex items-center gap-2"
          [ngClass]="{'input-secondary ': myForm.get('description')?.touched && myForm.get('description')?.invalid}">
          <input type="text" formControlName="description" placeholder="Descripción" class="form-control">
        </label>
        <div *ngIf="myForm.get('description')?.touched && myForm.get('description')?.errors">
          <span class="text-red-300" *ngIf="myForm.get('description')?.hasError('required')">Este campo es requerido.</span>
          <span class="text-red-300" *ngIf="myForm.get('description')?.hasError('minlength')">Debe tener al menos 4 caracteres.</span>
          <span class="text-red-300" *ngIf="myForm.get('description')?.hasError('maxlength')">No puede exceder de 500 caracteres.</span>
        </div>
      </div>

      <!-- Precio por día -->
      <div class="input-group mb-3">
        <label class="input input-bordered flex items-center gap-2"
          [ngClass]="{'input-secondary ': myForm.get('price_per_day')?.touched && myForm.get('price_per_day')?.invalid}">
          <input type="text" formControlName="price_per_day" placeholder="Precio por día" class="form-control">
        </label>
        <div *ngIf="myForm.get('price_per_day')?.touched && myForm.get('price_per_day')?.errors">
          <span class="text-red-300" *ngIf="myForm.get('price_per_day')?.hasError('required')">Este campo es requerido.</span>
          <span class="text-red-300" *ngIf="myForm.get('price_per_day')?.hasError('pattern')">Debe ser un número entero.</span>
        </div>
      </div>

      <!-- Resolución Altura -->
      <div class="input-group mb-3">
        <label class="input input-bordered flex items-center gap-2"
          [ngClass]="{'input-secondary ': myForm.get('resolution_height')?.touched && myForm.get('resolution_height')?.invalid}">
          <input type="text" formControlName="resolution_height" placeholder="Resolución Altura" class="form-control">
        </label>
        <div *ngIf="myForm.get('resolution_height')?.touched && myForm.get('resolution_height')?.errors">
          <span class="text-red-300" *ngIf="myForm.get('resolution_height')?.hasError('required')">Este campo es requerido.</span>
          <span class="text-red-300" *ngIf="myForm.get('resolution_height')?.hasError('pattern')">Debe ser un número entero.</span>
          <span class="text-red-300" *ngIf="myForm.get('resolution_height')?.hasError('min')">El valor mínimo es 1.</span>
        </div>
      </div>
      <!-- Resolución Ancho -->
  <div class="input-group mb-3">
    <label class="input input-bordered flex items-center gap-2"
      [ngClass]="{'input-secondary ': myForm.get('resolution_width')?.touched && myForm.get('resolution_width')?.invalid}">
      <input type="text" formControlName="resolution_width" placeholder="Resolución Ancho" class="form-control">
    </label>
    <div *ngIf="myForm.get('resolution_width')?.touched && myForm.get('resolution_width')?.errors">
      <span class="text-red-300" *ngIf="myForm.get('resolution_width')?.hasError('required')">Este campo es requerido.</span>
      <span class="text-red-300" *ngIf="myForm.get('resolution_width')?.hasError('pattern')">Debe ser un número entero.</span>
      <span class="text-red-300" *ngIf="myForm.get('resolution_width')?.hasError('min')">El valor mínimo es 1.</span>
    </div>
  </div>
     <div class="mb-3">
     <label class="form-control w-full ">
          <select class="select select-bordered" formControlName="type" 
          [ngClass]="{'input-secondary ': myForm.get('type')?.touched && myForm.get('type')?.invalid}">
            <option value="" disabled selected>Seleccione un tipo de pantalla</option>
            <option value="indoor">Indoor</option>
            <option value="outdoor">Outdoor</option>
          </select>
      </label>
      
      
      <div *ngIf="myForm.get('type')?.touched && myForm.get('type')?.errors">
        <span class="text-red-300" *ngIf="myForm.get('type')?.hasError('required')">Debe seleccionar un tipo.</span>
      </div>
    </div>
      <div class="card-actions justify-between mt-5">
        <button class="btn btn-accent" (click)="navigateToDisplays()" [disabled]="isDisabled">Cancelar</button>
        <button class="btn btn-primary" (click)="guardarDisplay()" [disabled]="myForm.invalid ">
          <span class="loading loading-spinner" *ngIf="isSaving"></span>
          Guardar
        </button>
        
      </div>
    </form>
  </div>
 
</div>
@if(id){
<div class="card bg-base-100 shadow-xl mt-4 w-1/6 ml-3 flex justify-center items-center">
  <div *ngIf="!isImageLoading; else loading">
    <img [src]="imageUrl" alt="Display Image" class="block mx-auto"/>
    <h2 class="mt-10 font-bold animate-pulse text-center">Esta foto no se puede editar.</h2>
    <h2 class="text-xs text-center">Foto del producto</h2>
  </div>
  <ng-template #loading>
    <span class="loading loading-ring loading-lg"></span>
  </ng-template>
</div>
}


  
  
</div>

