
<div class="card bg-base-100 shadow-xl w-full mt-3 flex ">
  <div class="card-body flex justify-end">
    
     <div *ngIf="isLoading">
      <p>Loading displays...</p> <!-- o cualquier otro indicador de carga como un spinner -->
    </div>

    <div *ngIf="!isLoading && displays.length > 0">

    <div class="botonera">
      <label class="input input-bordered flex items-center gap-2">
  <input type="text" class="grow" placeholder="Search" />
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
</label>
      <button class="btn btn-square" (click)="agregarDisplay()">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> <path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
      </button>
      <label>
        <input type="radio" class="radio radio-success" [value]="DisplayType.All" [(ngModel)]="selectedType" (change)="loadDisplays()" /> Todos
      </label>
      <label>
        <input type="radio" class="radio radio-success" [value]="DisplayType.Indoor" [(ngModel)]="selectedType" (change)="loadDisplays()" /> Indoor
      </label>
      <label>
        <input type="radio" class="radio radio-success" [value]="DisplayType.Outdoor" [(ngModel)]="selectedType" (change)="loadDisplays()" /> Outdoor
      </label>
    </div>
    <app-my-table [displays]="displays"></app-my-table>

    <div class="pagination-controls flex items-center justify-center space-x-2">
      <button class="btn" (click)="navigateToPage(1)" [disabled]="currentPage === 1">
        ««
      </button>
      <button class="btn" (click)="navigateToPage(currentPage - 1)" [disabled]="currentPage === 1">
        «
      </button>
      <span>Página {{currentPage}} de {{totalPages}}</span>
      <button class="btn" (click)="navigateToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
        »
      </button>
      <button class="btn" (click)="navigateToPage(totalPages)" [disabled]="currentPage === totalPages">
        »»
      </button> 

    </div>


    <label for="pageSize">Registros por Pagina:</label>
    <select  class="select select-bordered w-30 ml-3 mr-3" id="pageSize" (change)="onChangePageSize($event)">
      <option *ngFor="let size of pageSizeOptions" [value]="size" [selected]="size === pageSize">{{ size }}</option>
    </select>
    <span>Total de registros encontrados: {{ totalItems }}, mostrando {{ startIndex }} - {{ endIndex }} de {{ totalItems }}</span>

      <!-- <select (change)="onChangePageSize($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
      </select> -->
      
    </div>
    <div *ngIf="!isLoading && displays.length === 0">
      <p>No displays found.</p>
    </div>

  </div>
</div>

