<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>id</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        
        <th>Precio</th>
        <th>Resoluciones (h/w)</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>

      @for (display of displays; track display.id) {
       
        <tr *ngFor="let display of displays">
          <td>
            {{display.id}}
          </td>
          <td>
            <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img [src]="display.picture_url" [alt]="display.name" class="hover:animate-pulse" />
              </div>
            </div>
            </div>
            
          </td>
          <td>
            {{display.name | titlecase}}
          </td>
          <td>
            {{display.description | lowercase}}
          </td>
          <td>
            {{display.price_per_day}}
          </td>
          <td>
            {{display.resolution_height}} | {{display.resolution_width}}
          </td>
          <td>
            {{display.type | uppercase}} 
          </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
      }
    </tbody>
    <!-- foot -->
   <!--  <tfoot>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
        <th></th>
      </tr>
    </tfoot> -->
    
  </table>
</div>